/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2020, 6:59:10 PM
    Author     : milind
*/

.amp-compat-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
